<a href="https://colab.research.google.com/github/dilaraesmer/The-Data-Analyst-Course-Complete-Data-Analyst-Bootcamp-2023/blob/main/Data_Cleaning_and_Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Cleaning / Cleansing


Applying certain analytical and programming techniques to convert an incomprehensible dataset into a meaningful and quality format we can use for further processing.

In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('Location.csv', squeeze=True)
location_data = data.copy()
location_data.head()

0     Location 3
1     Location 6
2     Location 8
3    Location 26
4    Location 34
Name: Location, dtype: object

In [5]:
type(location_data)

pandas.core.series.Series