<a href="https://colab.research.google.com/github/dilaraesmer/The-Data-Analyst-Course-Complete-Data-Analyst-Bootcamp-2023/blob/main/Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x = [10, 20, 30, 40, 30]
x

[10, 20, 30, 40, 30]

In [2]:
z = 90
z

90

In [3]:
# The following program consists of two lines of code:
x = 10 + 4
print(x)

14

In [4]:
print(x + 4)

18

In [5]:
print(x - 6)

8

## Python Basics

In [6]:
x = 5 
x

5

In [7]:
y = 8

In [8]:
# ERROR beacuse Python is a case−sensitive programming language
Y

NameError: ignored

In [9]:
print(y)

8

In [10]:
x,y = (1,2)

In [11]:
x

1

In [12]:
y

2

 ## Numbers and Boolean

**Integers:**

 Positive or negative whole numbers; without a decimal point

**Floating points (floats):**

Real numbers; with a decimal point 

**Boolean values:**

A "True" or "False" value

1 or 0

In [13]:
x1 = 5

In [15]:
# type(var)
type(x1)

int

In [16]:
type(-6)

int

In [18]:
x2 = 4.35

In [19]:
type(x2)

float

In [22]:
# int() transforms the variable into an integer
int(x2)

4

In [24]:
# float() transforms the variable into a float
float(5)

5.0

In [25]:
x3 = True

In [26]:
type(x3)

bool

In [27]:
# ERROR true is not defined
x3 = true

NameError: ignored

In [29]:
# ERROR name 'George' is not defined
George

NameError: ignored

In [30]:
'George'

'George'

In [31]:
"George"

'George'

In [33]:
# ERROR unsupported operand type(s) for +: 'int' and 'str'
y = 10
print(y + "Dollars")

TypeError: ignored

In [37]:
y = 10
# str() converts a number into text
print(str(y) + " Dollars")

10 Dollars

In [39]:
# ERROR invalid syntax
'I'm not fine'

SyntaxError: ignored

In [40]:
"I'm not fine"

"I'm not fine"