<a href="https://colab.research.google.com/github/dilaraesmer/The-Data-Analyst-Course-Complete-Data-Analyst-Bootcamp-2023/blob/main/Must_Know_Python_Tools.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Iterating over Range Objects

In [4]:
# tuple
t = (5,6,7,8)
t

(5, 6, 7, 8)

In [ ]:
# list
l = [10.5, 20.75, 30.00]
l

In [6]:
# string
s = 'abcdef'
s

'abcdef'

In [9]:
# i = loop variable = iterator variable
# t = iterable - any object that you can iterate (loop) over
for i in t:
  print(i, end=" ")

5 6 7 8

In [11]:
range(5)

range(0, 5)

In [10]:
for i in range(5):
  print(i, end = " ")

0 1 2 3 4

Nested For Loops

In [12]:
for i in range(2):
  print(i)

0
1

In [13]:
for j in range(5):
  print(j)

0
1
2
3
4

In [17]:
for i in range(2):
  for j in range(5):
    print(j)

0
1
2
3
4
0
1
2
3
4

In [18]:
for i in range(2):
  for j in range(5):
    print([i,j])

[0, 0]
[0, 1]
[0, 2]
[0, 3]
[0, 4]
[1, 0]
[1, 1]
[1, 2]
[1, 3]
[1, 4]